<h1>Task List</h1>
  <p>Which task do you want to check ?</p>

    <ul>
      <% @tasks.each do |task| %>
      <% unless task.check %>
        <li>
          <strong><%= link_to task.name, task %></strong>
          <%= link_to "Update task", edit_task_path(task) %>
          <%= link_to "Delete task", task,
           method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
      <% end %>
      <% end %>
    </ul>

    <%= link_to 'Create a new task', new_task_path %>



